version: "3.8"

# volumes:
#   kong_data: {}

services:

  #######################################
  # Postgres: The database used by Kong
  #######################################
  # kong-database:
  #   image: postgres:14.13
  #   container_name: kong-postgres
  #   restart: on-failure
  #   volumes:
  #     - ./log-db/kong_db:/var/lib/postgresql/data
  #   environment:
  #     POSTGRES_DB: ${POSTGRES_DB}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${KONG_PG_PASSWORD}
  #   ports:
  #     - "${PORT}:5432"
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U kong"]
  #     interval: 30s
  #     timeout: 30s
  #     retries: 5
  #   networks:
  #     - localnetwork

  #######################################
  # Kong database migration
  #######################################
  # kong-migration:
  #   image: ${KONG_DOCKER_TAG:-kong:latest}
  #   container_name: kong-migration
  #   command: kong migrations bootstrap
  #   restart: on-failure
  #   environment:
  #     KONG_DATABASE: postgres
  #     KONG_PG_HOST: kong-database
  #     KONG_PG_DATABASE: kong
  #     KONG_PG_USER: kong
  #     KONG_PG_PASSWORD: ${KONG_PG_PASSWORD:-kong}
  #   depends_on:
  #     - kong-database
  #   networks:
  #     - localnetwork

  #######################################
  # Kong: The API Gateway
  #######################################
  kong:
    image: ${KONG_DOCKER_TAG:-kong:latest}
    container_name: kong
    user: root
    volumes:
      - ./kong.yml:/usr/local/kong/declarative/kong.yml # Mount file cấu hình
      - ./log-gateway/kong_gateway/file.log:/tmp/file.log # Gắn volume để lưu log ra ngoài
    restart: on-failure
    environment:
      KONG_DATABASE: "off"
      # KONG_DATABASE: postgres
      # KONG_PG_HOST: kong-database
      # KONG_PG_DATABASE: kong
      # KONG_PG_USER: kong
      KONG_PG_PASSWORD: ${KONG_PG_PASSWORD:-kong}
      KONG_PROXY_LISTEN: 0.0.0.0:9000, 0.0.0.0:9443 ssl
      KONG_ADMIN_LISTEN: 0.0.0.0:9001, 0.0.0.0:9444 ssl
      KONG_ADMIN_GUI_LISTEN: 0.0.0.0:9002
      KONG_DECLARATIVE_CONFIG: /usr/local/kong/declarative/kong.yml
    # depends_on:
    #   kong-database:
    #     condition: service_healthy
    # healthcheck:
    #   test: ["CMD", "kong", "health"]
    #   interval: 10s
    #   timeout: 10s
    #   retries: 10
    ports:
      - "9000:9000"
      - "9001:9001"
      - "9002:9002"
      - "9443:9443"
      - "9444:9444"
    networks:
      - localnetwork

networks:
  localnetwork:
    name: localnetwork
    driver: bridge
    external: true
